/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 400px) {
    .navbar {
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main-img img {
        width: 33rem;
        height: 33rem;
    }
    .main-body {
        width: 40rem;
        height: auto;
        margin-left: 7rem;
    
    }
    .bold-text {
        font-size: 2.4rem;
    }
    
    .regular-text {
        font-size: 1.15rem;
        margin-top: 1rem;
    }
    .main-button{
        width: 100%;
        gap: 0.7rem;
        height: auto;
        margin-top: 4.5rem;
    }
    .button{
        width: 12rem;
        height: 3.5rem;
        font-size: 1.5rem;
    }
}